.dancing-script {
  font-family: 'Dancing Script', cursive;
}
.fjalla-one {
  font-family: 'Fjalla One', sans-serif;
}
.inter {
  font-family: 'Inter', sans-serif;
}
.lora {
  font-family: 'Lora', serif;
}
.raleway {
  font-family: 'Raleway', sans-serif;
}
.roboto {
  font-family: 'Roboto', sans-serif;
}
.roboto-mono {
  font-family: 'Roboto Mono', monospace;
}