@import "tailwindcss";
@import './assets/css/fonts.css';
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif, 'Inter', 'Roboto', 'Lora', 'Fjalla One', 'Raleway', 'Dancing Script', 'Roboto Mono';
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  /*   -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}